name: metronome_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter
  
  just_audio: ^0.10.5          
  audio_session: ^0.2.2   
  audioplayers: ^6.5.1     
  
  flutter_midi: ^1.1.0
  
  # UI
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/sounds/
    - assets/config/
    - assets/sf2/